<div class="outter">
  <div class="container">
    <div class="d-flex justify-content-center h-100">
      <div class="card1">
        <div class="card-header1">

          <div class="d-flex justify-content-end social_icon">
          </div class="d-flex justify-content-center text-center">
          <h2 class="header2">Sign up</h2>

          <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= f.error_notification %>


          <div class="form-inputs">
            <%= f.input :first_name, label: 'First Name', required: true %>
            <%= f.input :last_name, label: 'Last Name', required: true %>
            <%= f.input :email,
            required: true,
            autofocus: true,
            input_html: { autocomplete: "email" }%>
            <%= f.input :password,
            required: true,
            hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
            input_html: { autocomplete: "new-password" } %>
            <%= f.input :password_confirmation,
            required: true,
            input_html: { autocomplete: "new-password" } %>
          </div>


            <%= f.button :submit, "Sign up", class: "color" %>
            <% end %>


          <div class="fb1">
            <%= render "devise/shared/links" %>
          </div>

          <!-- need to fix the "card-header1" -->


         <!--  <p>Lorem, ipsum dolor sit amet consectetur, adipisicing elit. Possimus cumque excepturi, repudiandae mollitia soluta laborum. Quisquam cupiditate consequuntur temporibus beatae iste earum labore vero deserunt! Labore perspiciatis nesciunt expedita culpa sunt inventore nisi fuga quas cupiditate cum quasi dolore laboriosam cumque eius necessitatibus at maxime itaque consequuntur nostrum, rerum atque adipisci, ut ea, animi. Fuga, accusantium facere fugiat, nobis laborum ex magnam repellendus, natus doloribus tempore provident nam necessitatibus quisquam reiciendis non exercitationem ullam, numquam. Delectus voluptatum, fuga autem voluptas ab adipisci nostrum id corporis inventore aliquam nobis in quos ipsam maxime, distinctio minus? Tempore, omnis. Amet eius rerum voluptate.</p>
 -->

        </div>


      </div>
    </div>
  </div>
</div>
