<div class="outter">
  <div class="container">
    <div class="d-flex justify-content-center h-100">
      <div class="card1">
        <div class="card-header1">

          <div class="d-flex justify-content-end social_icon">
          </div class="d-flex justify-content-center text-center">
          <h2 class="header2">Sign up</h2>

          <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= f.error_notification %>


          <div class="form-inputs">
            <%= f.input :first_name, label: 'First Name', required: true %>
            <%= f.input :last_name, label: 'Last Name', required: true %>
            <%= f.input :email,
            required: true,
            autofocus: true,
            input_html: { autocomplete: "email" }%>
            <%= f.input :password,
            required: true,
            hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
            input_html: { autocomplete: "new-password" } %>
            <%= f.input :password_confirmation,
            required: true,
            input_html: { autocomplete: "new-password" } %>
          </div>


            <%= f.button :submit, "Sign up", class: "color" %>
            <% end %>


          <div class="fb1">
            <%= render "devise/shared/links" %>
          </div>

          <!-- need to fix the "card-header1" -->


       <!--    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil officia ea eum, molestias doloremque perspiciatis possimus commodi dicta omnis quae molestiae consequatur, animi temporibus consequuntur labore veritatis tenetur est, deleniti. Enim, harum. Rem corporis officia non accusamus vitae consequuntur reiciendis sint qui perferendis quidem numquam aut, repellat dicta alias animi ipsum pariatur quisquam dignissimos magnam cupiditate natus nemo inventore iure dolore! Nesciunt enim perferendis et inventore suscipit. Laborum odit mollitia magni velit assumenda at ut ea eligendi aperiam libero voluptatem laudantium atque earum esse possimus obcaecati nemo, vero quam in veritatis ullam alias nulla? Suscipit laborum, aut officiis! Ipsum, consequatur?</p> -->
        </div>


      </div>
    </div>
  </div>
</div>
