<div class="outter">
  <div class="container">
    <div class="d-flex justify-content-center h-100">
      <div class="card">
        <div class="card-header">

          <div class="d-flex justify-content-end social_icon">
          </div class="d-flex justify-content-center text-center">
          <h2 class="header2">Forgot your password?</h2>
          <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs">

            <%= f.input :email,
            required: true,
            autofocus: true,
            input_html: { autocomplete: "email" } %>
          </div>

          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-key"></i></span>
          </div>

          <div >
            <%= f.button :submit, "Send me password reset instructions", class: "color" %>
          <% end %>
          </div>

          <div class="fb">
          <%= render "devise/shared/links" %>
           </div>
        </div>
      </div>
    </div>
  </div>
</div>
