<div class="festipal-container text-center">

  <div class="select-festival">
  </div>

<div class="wrapper">
  <div class="schedule text-center">
    <div class="schedule-header">
      <p><%= current_user.first_name %>'s <%= @festival.name %> Schedule</p>
    </div>
    <% current_user.user_schedules.each do |concert| %>
      <% if concert.schedule.stage.festival.name == @festival.name %>
        <% if concert.schedule.end_time == 24 %>
            <p> <%= link_to schedule_user_schedule_path(concert), method: :delete do %>
                <i class="fas fa-minus-square"></i>
                <% end %>
              <%= concert.schedule.artist %> - <%= concert.schedule.stage.name %> <%= concert.schedule.start_time %>.00 - 00.00</p>
          <% else %>
            <p> <%= link_to schedule_user_schedule_path(concert), method: :delete do %>
                <i class="fas fa-minus-square"></i>
                <% end %>
              <%= concert.schedule.artist %> - <%= concert.schedule.stage.name %> <%= concert.schedule.start_time %>.00 - <%= concert.schedule.end_time %>.00</p>
          <% end %>
        <% end %>
      <% end %>
  </div>
</div>

<div class="wrapper">
  <div class="suggestions text-center">
    <div class="suggestions-header">
      <h2><%= current_user.first_name %>'s Suggestions</h2>
    </div class="suggestions-container">
    <% @suggestions.each do |suggestion| %>
      <p> <%= suggestion.artist %> - <%= suggestion.stage.name %>
    <%= suggestion.start_time %>.00 - <%= suggestion.end_time %>
    <%=  %>
    <%= link_to "Add", schedule_user_schedules_path(suggestion), method: :post %>
      </p>
    <% end %>

    <p>Suggestions based on available artists be populated here for you to select if desired.</p>
  </div>
</div>

</div>

