<div class="festipal-container text-center">

  <div class="select-festival">
  </div>

<div class="wrapper">
  <div class="schedule text-center">
    <div class="schedule-header">
      <p><%= current_user.first_name %>'s <%= @festival.name %> Schedule</p>
    </div>
    <div class="row">
      <div class="col-4" id="Friday">
        <h2>Friday</h2>
        <% current_user.user_schedules.joins(:schedule).order("schedules.start_time asc").each do |concert| %>
          <% if concert.schedule.day == 'Friday' %>
            <%= render 'schedules/partials/displaying_show', concert: concert %>
          <% end %>
        <% end %>
      </div>
      <div class="col-4" id="Saturday">
        <h2>Saturday</h2>
        <% current_user.user_schedules.joins(:schedule).order("schedules.start_time asc").each do |concert| %>
          <% if concert.schedule.day == 'Saturday' %>
            <%= render 'schedules/partials/displaying_show', concert: concert %>
          <% end %>
        <% end %>
      </div>
      <div class="col-4" id="Sunday">
        <h2>Sunday</h2>
        <% current_user.user_schedules.joins(:schedule).order("schedules.start_time asc").each do |concert| %>
          <% if concert.schedule.day == 'Sunday' %>
            <%= render 'schedules/partials/displaying_show', concert: concert %>
          <% end %>
        <% end %>
      </div>
    </div>

  </div>
</div>

<div class="wrapper">
  <div class="suggestions text-center">
    <div class="suggestions-header">
    <h2>Suggestions</h2></div>
    <br>
    <p>Suggestions based on the gaps in your schedule will be populated here for you to select if desired.</p>
  </div>
</div>

</div>

