<div class="festipal-container text-center">

  <div class="select-festival">
  </div>

<div class="wrapper">
  <div class="schedule text-center">
    <div class="schedule-header">
      <p><%= current_user.first_name %>'s <%= @festival.name %> Schedule</p>
    </div>
    <div class="row">
      <div class="col-12 col-lg-4" id="Friday">
        <h2>Friday</h2>
        <% current_user.user_schedules.joins(:schedule).order("schedules.start_time asc").each do |concert| %>
          <% if concert.schedule.day == 'Friday' %>
            <%= render 'schedules/partials/displaying_show', concert: concert %>
          <% end %>
        <% end %>
      </div>
      <div class="col-12 col-lg-4" id="Saturday">
        <h2>Saturday</h2>
        <% current_user.user_schedules.joins(:schedule).order("schedules.start_time asc").each do |concert| %>
            <% if concert.schedule.day == 'Saturday' %>
            <%= render 'schedules/partials/displaying_show', concert: concert %>
          <% end %>
        <% end %>
      </div>
      <div class="col-12 col-lg-4" id="Sunday">
        <h2>Sunday</h2>
        <% current_user.user_schedules.joins(:schedule).order("schedules.start_time asc").each do |concert| %>
          <% if concert.schedule.day == 'Sunday' %>
            <%= render 'schedules/partials/displaying_show', concert: concert %>
          <% end %>
        <% end %>
      </div>
    </div>

  </div>
</div>

<div class="wrapper">
  <div class="suggestions text-center">
    <div class="suggestions-header">
      <h2>Suggestions For <%= current_user.first_name %></h2>
      <p class='artists-generated-p'><em>We have generated some suggested artists based on your selections above.</em></p>
    </div class="suggestions-container">

    <% @suggestions.each do |suggestion| %>
    <p> <%= link_to schedule_user_schedules_path(suggestion), method: :post, remote: true do %>
      <i class="fas fa-plus"></i>
      <% end %>
       <%= suggestion.artist %> - <%= suggestion.stage.name %>, <%= suggestion.day %>
    <%= suggestion.start_time %>.00 - <%= suggestion.end_time %>.00 </p>

    <% end %>

  </div>
</div>
<div class="filler">

</div>
</div>


