<div class="festipal-container text-center">

  <div class="select-festival">
  </div>

<div class="wrapper">
  <div class="schedule text-center">
    <div class="schedule-header">
     <p><%= current_user.first_name %>'s <%= @festival.name %> Schedule</p></div>
    <% current_user.user_schedules.each do |concert| %>
      <% if concert.schedule.stage.festival.name == @festival.name %>
        <% if concert.schedule.end_time == 24 %>
            <p><%= concert.schedule.artist %> - <%= concert.schedule.stage.name %> <%= concert.schedule.start_time %>.00 - 00.00</p>
          <% else %>
            <p><%= concert.schedule.artist %> - <%= concert.schedule.stage.name %> <%= concert.schedule.start_time %>.00 - <%= concert.schedule.end_time %>.00</p>
          <% end %>
        <% end %>
      <% end %>
  </div>
</div>

<div class="wrapper">
  <div class="suggestions text-center">
    <div class="suggestions-header"
    <h2>Suggestions</h2></div>
    <br>
    <p>Suggestions based on the gaps in your schedule will be populated here for you to select if desired.</p>
  </div>
</div>

</div>
