<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="img-wrap">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "logo-with-man.png" %>
    <% end %>
</div>

  <div id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item dropdown">
          <% avatar_url = current_user.facebook_picture_url || "https://kitt.lewagon.com/placeholder/users/ssaunier" %>
          <%= image_tag avatar_url, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>

          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link login-btn" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<div class="menu1 sub-navbar">
    <li class="color-white"><%= link_to "Festival Info", root_path, class: "active color-white" %></li>
    <li class="color-white"><%= link_to "My FestiPal", festival_schedule_path(:festival_id, :id) %></li>
    <li class="slide"></li>
</div>

