<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="img-wrap">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "logo-with-man.png" %>
    <% end %>
</div>

  <div id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item dropdown">
          <% avatar_url = current_user.facebook_picture_url || "avatar2.jpg" %>
          <%= image_tag avatar_url, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>

          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link login-btn" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- SUB NAVBAR -->
<div class="menu1">
 <!--  <%= simple_form_for :search, url: find_festival_path, method: 'get' do |f| %>
  <%= f.select :id, options_from_collection_for_select(Festival.all, "id", "name"), { label: false, prompt: 'Change Festival', onchange: 'this.form.submit();' } %>
  <% end %> --> <!-- NEED TO FIX THIS FOR FINAL DEMO -->

    <li><%= link_to "Festival Info", festival_path(@festival || Festival.first), class: " #{'active' if params[:controller] == 'festivals' && params[:action] == 'show'}" %></li>
    <li><%= link_to "My FestiPal", festival_schedule_path(@festival || Festival.first, :id), class: " #{'active' if params[:controller] == 'schedules' && params[:action] == 'show'}" %></li>
    <li class="slide"></li>

</div>

