<p class='display-day-of-week'>Sunday</p>
<div class="container">
  <div class="row scroll-div">
    <% @festival.stages.each do |stage| %>
      <div class="col-12 col-md-6 rounded-corners">
        <h3 class='display-day-of-week text-dark'><%= stage.name %></h3>
        <% stage.schedules.where(day: 'Sunday').each do |concert| %>
          <% if concert.end_time == 24 %>
            <%= link_to schedule_user_schedules_path(concert), class: "lineup lineup-link lineup_#{concert.start_time} #{concert.user_schedules.where(user: current_user) != [] ? 'disabled-lineup' : ''} ", id: 'lineup', method: :post do %>
             <p>
              <i class="<%= concert.user_schedules.where(user: current_user) != [] ? 'fas fa-check' : 'fas fa-plus-square' %>"></i>
              <span class="name-artist"><%= concert.artist %></span> <span class="comfortaa-font colored-time"> <%= concert.start_time %>.00 - 00.00</span></p>
            <% end %>
            <% else %>
              <%= link_to schedule_user_schedules_path(concert), class: "lineup lineup-link lineup_#{concert.start_time} #{concert.user_schedules.where(user: current_user) != [] ? 'disabled-lineup' : ''} ", id: 'lineup', method: :post do %>
                <p>
                  <i class="<%= concert.user_schedules.where(user: current_user) != [] ? 'fas fa-check' : 'fas fa-plus-square' %>"></i>
                  <span class="name-artist"><%= concert.artist %></span> <span class="comfortaa-font colored-time"> <%= concert.start_time %>.00 - <%= concert.end_time %>.00</span></p>
              <% end %>
            <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<div hidden id="show-alert" class="alert alert-primary" role="alert">

</div>

