<p class='display-day-of-week'>Friday</p>
<div class="container">
  <div class="row scroll-div">
    <% @festival.stages.each do |stage| %>
      <div class="col-12 col-md-6 rounded-corners section">
        <h3 class='display-day-of-week text-dark'><%= stage.name %></h3>
        <% stage.schedules.where(day: 'Friday').each do |concert| %>
          <% if concert.end_time == 24 %>
            <%= link_to schedule_user_schedules_path(concert), class: "lineup lineup-link lineup_#{concert.start_time} #{concert.user_schedules.where(user: current_user) != [] ? 'disabled-lineup' : ''} #{@start_times_day.include?(concert.start_time) ? 'disabled-lineup' : '' } #{@start_times_day.include?(concert.start_time) && concert.user_schedules.where(user: current_user).empty?  ? 'cross-line' : '' }", method: :post, remote: true do %>
             <p>
              <i class="
                <%= if @start_times_day.include?(concert.start_time) && concert.user_schedules.where(user: current_user) != []
                  'fas fa-check'
                  elsif @start_times_day.include?(concert.start_time) && concert.user_schedules.where(user: current_user).empty?
                  'fas fa-times-circle'
                  else
                  'fas fa-plus-square'
                end %>
              "></i>
              <span class="name-artist"><%= concert.artist %></span> <span class="comfortaa-font colored-time"> <%= concert.start_time %>.00 - 00.00</span></p>
            <% end %>
            <% else %>
              <%= link_to schedule_user_schedules_path(concert), class: "lineup lineup-link lineup_#{concert.start_time} #{concert.user_schedules.where(user: current_user) != [] ? 'disabled-lineup' : ''} #{@start_times_day.include?(concert.start_time) ? 'disabled-lineup' : '' } #{@start_times_day.include?(concert.start_time) && concert.user_schedules.where(user: current_user).empty? ? 'cross-line' : '' }", method: :post, remote: true do %>
                <p>
                  <i class="
                  <%= if @start_times_day.include?(concert.start_time) && concert.user_schedules.where(user: current_user) != []
                  'fas fa-check'
                  elsif @start_times_day.include?(concert.start_time) && concert.user_schedules.where(user: current_user).empty?
                  'fas fa-times-circle'
                  else
                  'fas fa-plus-square'
                end %>
                "></i>
                  <span class="name-artist"><%= concert.artist %></span> <span class="comfortaa-font colored-time"> <%= concert.start_time %>.00 - <%= concert.end_time %>.00</span></p>
              <% end %>
            <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<div hidden id="show-alert" class="alert alert-primary" role="alert">

</div>

<script>
    const gra = function(min, max) {
        return Math.random() * (max - min) + min;
    }
    const init = function(){
        let items = document.querySelectorAll('.section');
        for (let i = 0; i < items.length; i++){
            items[i].style.background = randomColor({luminosity: 'light'});
        }
        cssScrollSnapPolyfill()
    }
    init();
</script>

<!-- (@start_times.include?(concert.start_time) && @festival_names.include?(@festival.name)) -->
