<p class='display-day-of-week'>Saturday</p>
<div class="container">
  <div class="row scroll-div">
    <% @festival.stages.each do |stage| %>
      <div class="col-12 col-md-6 bg-white">
        <h3 class='display-day-of-week text-dark'><%= stage.name %></h3>
        <% stage.schedules.where(day: 'Saturday').each do |concert| %>
          <% if concert.end_time == 24 %>
            <%= link_to schedule_user_schedules_path(concert), class: "lineup lineup-link #{concert.user_schedules.where(user: current_user) != [] ? 'disabled-lineup' : ''} ", method: :post do %>
             <p><span class="name-artist"><%= concert.artist %></span>  <%= concert.start_time %>.00 - 00.00</p>
            <% end %>
            <% else %>
              <%= link_to schedule_user_schedules_path(concert), class: "lineup lineup-link #{concert.user_schedules.where(user: current_user) != [] ? 'disabled-lineup' : ''} ", method: :post do %>
                <p><span class="name-artist"><%= concert.artist %></span>  <%= concert.start_time %>.00 - <%= concert.end_time %>.00</p>
              <% end %>
            <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<div hidden id="show-alert" class="alert alert-primary" role="alert">

</div>

