<p class="highlights-p-tag pink-highlight">Check out the latest pictures, tweets & playlists from <%= @festival.name %> </p>
<div class="render-wrapper mt-5 container">
  <div class="row social-card-wrapper">
    <div class="col-lg-6 col-sm-12 social-highlight-card">
      <%= render 'pages/partials/instagram' %>
    </div>
    <div class="mb-3 col-lg-6 col-sm-12 social-highlight-card youtube">
      <%= render 'pages/partials/youtube' %>
    </div>
  </div>
  <div class="row social-card-wrapper">
    <div class="col-lg-6 col-sm-12 social-highlight-card">
      <%= render 'pages/partials/spotify' %>
    </div>
    <div class="col-lg-6 col-sm-12 social-highlight-card">
      <%= render 'pages/partials/twitter' %>
    </div>
  </div>
  <!-- if statement to display the information of the selected festival -->
</div>
