<div class="show-page">
  <h1 class="text-center pt-3 festival-name"><%= @festival.name %></h1>
   <div class="text-center pt-3 festival-name">
      <%= render 'festivals/partials/show-tabs' %>
    </div>

  <div class="render-wrapper mt-5">


    <div>
      <%= render 'pages/partials/spotify' %>
    </div>
    <div class="mb-3">
      <%= render 'pages/partials/instagram' %>
    </div>
    <div class="mb-3">
      <%= render 'pages/partials/youtube' %>
    </div>
  </div>
  <!-- if statement to display the information of the selected festival -->
</div>

